/*
 * Copyright (c) 2023 XiNGRZ
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "common.dtsi"

/ {
	model = "STM32F103 Interface";
	compatible = "zprobe,stm32f103_if", "st,stm32f103";

	chosen {
		zephyr,code-partition = &code_partition;
	};
};
