# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_STM32_BLUEPILL_BL=y

CONFIG_SOC_SERIES_STM32F1X=y
CONFIG_SOC_STM32F103XB=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_USB_DEVICE_STACK=y
