# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_NANODAP_HS_IF=y

CONFIG_SOC_SERIES_SAM3U=y
CONFIG_SOC_PART_NUMBER_SAM3U2C=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

CONFIG_USB_DEVICE_STACK=y
