# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

mainmenu "Zprobe"

menu "Zprobe"

choice ZPROBE_APP
	prompt "App"

config ZPROBE_BOOTLOADER
	bool "Bootloader"
	select FLASH_MAP
	select FLASH

config ZPROBE_INTERFACE
	bool "Interface"

endchoice # ZPROBE_APP

rsource "Kconfig.logging"
rsource "Kconfig.usb"

if ZPROBE_INTERFACE
rsource "cmsis_dap/Kconfig"
endif # ZPROBE_INTERFACE

module = ZPROBE
module-str = zprobe
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
