# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

mainmenu "Zprobe"

menu "Zprobe"

rsource "Kconfig.logging"

module = ZPROBE
module-str = zprobe
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
