# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

menuconfig ZPROBE_CMSIS_DAP_V2
	bool "USB CMSIS-DAP v2"
	depends on USB_DEVICE_STACK
	default y if HAS_SWDIO
	select CMSIS_DAP
	help
	  Enable USB interface for CMSIS-DAP v2

if ZPROBE_CMSIS_DAP_V2

module = ZPROBE_CMSIS_DAP
module-str = zprobe_cmsis_dap
source "subsys/logging/Kconfig.template.log_config"

endif # ZPROBE_CMSIS_DAP_V2
