# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_STM32H730_IF=y

CONFIG_SOC_SERIES_STM32H7X=y
CONFIG_SOC_STM32H730XXQ=y
CONFIG_POWER_SUPPLY_DIRECT_SMPS=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y

CONFIG_USB_DEVICE_STACK=y
